:root{
 
    --font:mobsters;
    --border-color:rgb(168, 8, 8)
}
*{
    box-sizing: border-box;
    font-weight:100;
}
@font-face {
    font-family: mobsters;
    src: 
    local(font/Mobsters) format("truetype"), 
    url('font/Mobsters.ttf')
    format("truetype"); 
}

body{
    background-color: rgb(51, 45, 45);
    /* margin: 15px auto; centering */
    max-width: 1024px;
    margin-top: 3rem;

}

.bottom-row{
    display:flex;
    flex-direction: row;
}

/* top left button div */
.btns-center-left-to-top-m{
    display:flex;
    /* justify-content: space-evenly; */
    /* padding: 40px; */
    flex:1;
}

.btns-center-right-to-top-m{
    display:flex;
    justify-content: space-evenly;
    flex:1;
}

.btns-center-right-to-bottom-m{
    display: flex;
}

.btn-img{
    height: 6rem;
}

.button{
    background: transparent;
    border-left-color: var(--border-color);
    border-top: none;
    border-right: none;
    border-bottom-color: var(--border-color);
    border-left-style: groove;
    cursor: pointer;
}
/* button positioning; diagonals top left div  */
.button-carmela{
    /* align-self: flex-end; */
    margin:200px 15px 0 0px;
}
.button-junior{
    /* align-self:center; */
    margin:100px 15px 0px 15px;
    
}
.button-tony{
    align-self:flex-start;
    margin:0px 0px 100px 15px;
}
/* button positioning; diagonals top right div  */
.button-johnny{
    /* align-self:flex-end; */
    margin:0px 15px 0 145px;
}
.button-melfi{
    /* align-self:center; */
    margin:100px 15px 0px 15px;
    
}
.button-livia{
    /* align-self:flex-start; */
    margin:200px 15px 0px 15px;
}


/* button positioning; diagonals bottom left div  */
.button-paulie{
    /* align-self:flex-end; */
    margin:0px 30px 0 0px;
}
.button-aj{
    /* align-self:center; */
    margin:100px 15px 0px 5px;
    
}
.button-sil{
    /* align-self:flex-start; */
    margin:200px 0px 0px 15px;
}

/* button positioning; diagonals bottom right div  */
.button-adrianna{
    /* align-self:flex-end; */
    margin:200px 15px 15px 15px;
}
.button-christopher{
    /* align-self:center; */
    margin:100px 15px 15px 15px;
    
}
.button-janice{
    /* align-self:flex-start; */
    margin:0px 15px 0px 15px;
}
h1.heading{
    font-family: var(--font);
    font-size: 2.5rem;
    display: flex;
    margin:.5rem
    
   
}

html{
    
    font-family: var(--font), Arial, Helvetica, sans-serif;
    color:rgb(243, 239, 239);

}

.input{
    font:var(--font);
    
}

.input-name{
    letter-spacing: .03rem;
    /* can't get font to change colors */
    color: black ; 
}

.input-submit{
    background: rgb(221, 219, 219);
    border: 1;
    border-color: rgb(94, 91, 91);
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px whitesmoke);
    /* how do I change the height? height is not working */
}

.toprow{
    display:flex;
    flex-direction: row;
    
}

.user-info{
 
  display: flex; 
    align-items:center;
    /* text-align: center; */
    /* align-self: center; */
    flex-direction: column;
    /* justify-content: flex-start; */
    
    
}

.wrapper{
    /* width: 1024px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
} 

/* modal */



.modal #famImage {
    max-width: 100px;
}

