:root{
    --font:mobsters;
}
@font-face {
    font-family: mobsters;
    src: 
    local(font/Mobsters) format("truetype"), 
    url(https://www.dafont.com/sopranos.font) format("truetype");
    font-weight:lighter;
}

body{
    max-width: 1024px;
    background-color: rgb(32, 31, 31);
    margin: 15px auto; /*centering */
}

.btn-img{
    height: 12.5rem;
}

.button{
    background: transparent;
    border: 1;
    border-left-color: rgb(168, 8, 8);
    border-top: none;
    cursor: pointer;
}

.heading{
    font-weight: lighter;
    font-size: 2.5rem;
}

html{
    
    font-family: var(--font), Arial, Helvetica, sans-serif;
    color:rgb(243, 239, 239);

}

.input{
    font:var(--font);
}

.input-name{
    letter-spacing: .03rem;
    /* can't get font to change colors */
    color: black ; 
}

.input-submit{
    background: rgb(221, 219, 219);
    border: 1;
    border-color: rgb(94, 91, 91);
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px whitesmoke);
    /* how do I change the height? height is not working */
}

.wrapper{
    display:grid;
} 